/*RESET*/

* {
    box-sizing: border-box;
}

html,body,div,span,applet,object,iframe,h2,h3,h4,h5,h6,p,
blockquote,pre,a,abbr,acronym,address,big,
cite,code,del,dfn,em,img,ins,kbd,q,s,samp,small,strike,strong,sub,sup,
tt,var,b,u,i,center,dl,dt,dd,ol,ul,li,fieldset,form,label,
legend,table,caption,tbody,tfoot,thead,tr,th,td,article,
aside,canvas,details,embed,figure,figcaption,
footer,header,
hgroup,menu,
nav,output,
ruby,section,
summary,
time,mark,audio,video {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article,aside,details,figcaption,figure,footer,header,hgroup,menu,nav,section {
    display: block;
}

body {
    background-color: var(--main-color-60);

    font-family: "Liter", serif;
    font-weight: 400;
    font-style: normal;
}

ol,ul {
    list-style: none;
}

blockquote,
q {
    quotes: none;
}

blockquote:before,blockquote:after,q:before,q:after {
    content: '';
    content: none;
}

table {
    border-collapse: collapse;
    border-spacing: 0;
}

a {
    color: inherit;
    text-decoration: none;
}

img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    display: inline-block;
}

body {
    display: flex;
    flex-flow: column;
    justify-content: center;
    align-items: center;
}

/*END RESET*/

/*VARIABLES*/
:root {
    --main-font: "Oswald", sans-serif;
    /* FUENTE PRINCIPAL DE LA PAGINA */
    --second-font: "Funnel Sans", sans-serif;
    /* FUENTE SECUNDARIA DE LA PAGINA */
    --main-font-weight: 400;
    /* PESO PRINCIPAL DE CARACTERES */
    --main-font-size: 16px;
    /* TAMAÑO PRINCIPAL DE CARACTERES */
    --main-color-60: #fff6f3;
    /* ROSA */
    --main-color-30: #997676;
    /* GRIS OSCURO*/
    --main-color-10: white;
    /* GRIS CLARO*/
    --main-border: 1px solid transparent;
    /* BORDE GENERAL PARA ELEMENTOS */
}

/*END VARIABLES */

img {
    width: 50%;
}

body {
    background-color: #343457;
    
}
p, h1, h2{
    color: white;
}